<% flash.now[:post] = params[:flash_notice] if params[:flash_notice] %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-background-warning is-bold">
        <%= @forum.character_name %>
      </h1>
    </div>
  </div>
</section>
<% @forum.posts.last(10).each do |post| %>
<% if post.id == flash[:post].to_i%>
  <article class="media has-text-black has-background-warning is-paddingless is-marginless">
<% else %>
  <article class="media has-text-white has-background-black is-paddingless is-marginless">
<% end %>
  <figure class="media-left is-paddingless is-marginless" id="Profile">
    <p class="image" id="Image">
      <%= image_tag(post.user_pic) %>
    </p>
    <p><%= "Location: #{post.user_location}" %>
  </figure>
  <div class="media-content is-marginless" id="ContentBox">
    <div class="content">
      <p>
        <strong id="username"><%=link_to post.username, user_path(post.user)%></strong>
        <br>
        <%= post.content%>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <p><%= post.last_edit %></p>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <% if post.user == current_user %>
        <%= link_to "Edit Post", edit_post_path(post), :class => "button has-background-danger is-outlined is-focused" %>
    <% end %>
    <% if logged_in? && post.user != current_user%>
      <%= link_to "Report User", new_report_path(post.id), :class => "button has-background-danger is-outlined is-focused" %>
    <% end %>
    <% if post.id == flash[:post_id] %>
          <div id="Warning">
            <%= flash[:success] %>
          </div>
        <% end %>
  </div>
</article>
<% end %>
<% if logged_in?%>
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <%= image_tag(current_user.pic) %>
    </p>
  </figure>
  <div class="media-content">
  <form action="/posts" method="post">
    <div class="field">
      <p class="control">
        <textarea class="textarea has-text-white has-background-black" name="content" placeholder="Make a post..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
            <%= hidden_field_tag :forum_id, @forum.id %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type="submit" value="Add New Post" class="button is-danger">
        </div>
      </div>
    </nav>
  </form>
  </div>
</article>
<% else %>
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
            <h1 class="title has-background-success is-bold">
                <%= "Log in to make a post" %>
            </h1>
            </div>
        </div>
    </section>
<% end %>
<% if @post.errors.any? %>
  <section class="hero is-danger">
    <div class="hero-body">
      <div class="container" id="NoBackground">
        <h1 class="title">
          Error:
        </h1>
        <h2 class="subtitle">
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </h2>
      </div>
    </div>
  </section>
<% end %>