<h1><%= @forum.character_name %></h1>
<% @forum.posts.last(5).each do |post| %>
    <% if post.user_pic %>
        <%= image_tag(post.user_pic) %><br>
    <% else %>
        <%= image_tag("//style.anu.edu.au/_anu/4/images/placeholders/person.png") %><br>
    <% end %>    
    <%= link_to post.username, user_path(post.user) %><br>
    <p><%= "Location: #{post.user_location}" %></p><br><br>
    <p><%= post.content %></p><br>
    <p><%= "Created at: #{post.created_at}" %></p>
    <% if post.user == current_user %>
        <%= button_to "Edit Post", edit_post_path(post), method: :get %>
    <% end %>
<% end %>
<br>

<% if logged_in?%>
<h1> Make New Post</h1>
    <%= form_for @post do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.hidden_field :forum_id, :value => @forum.id %>
    <%= f.submit  %>
    <% end %>
<% else %>
    <h3>Log In to Make a Post</h3>
<% end %>