<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-background-warning is-bold">
        Edit User Form
      </h1>
    </div>
  </div>
</section>


<%= form_for @user do |f| %>
    <div class="field">
      <label class="label has-text-light">Username:</label>
      <div class="control">
         <input class="input" type="text" name="username" value=<%= @user.username %>>
      </div>
    </div>
    <div class="field">
      <label class="label has-text-light">Location:</label>
      <div class="control">
         <input class="input" type="text" name="location" value=<%= @user.location %>>
      </div>
    </div>
    <div class="field">
      <label class="label has-text-light">Avatar Image Link:</label>
      <div class="control">
         <input class="input" type="text" name="picture_link" value=<%= @user.pic  %>>
      </div>
    </div>
    <div class="field">
      <p class="control">
      <label class="label has-text-light">Bio:</label>
        <textarea class="textarea" name="bio" ><%= @user.bio %></textarea>
      </p>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <div class="buttons">
        <input type="submit" value="Submit" class="button is-danger is-outlined is-focused"><br>
        <%# <%= link_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, :class => "button has-background-danger is-outlined is-focused is-pulled-right" %> 
    </div>
<% end %>

<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>