

<div class="tile is-ancestor has-background-black">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success">
          <p class="title"><%= @user.username %></p>
          <% if @user == current_user %>
            <%= button_to "Edit Profile", edit_user_path(@user), method: :get, :class => "button has-background-danger is-outlined is-focused" %>
            <% end %>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Location</p>
          <p class="subtitle"><%= @user.location %></p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <figure class="image" id="ProfileImage">
            <%= image_tag(@user.pic) %>
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Bio:</p>
        <div class="content">
          <%= @user.bio %>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Favorite Characters:</p>
        <div class="content">
          <div class="buttons">
            <% @user.characters.each do |character| %>
              <%= link_to character.proper_name, character_path(character), :class => "button has-background-danger is-outlined is-focused is-fullwidth" %>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<% if admin?%>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container" id="NoBackground">
        <h1 class="title">
          Reported Posts:
        </h1>
        <h2 class="buttons">
            <% @reports.all.each do |request| %>
            <div class="box has-background-black has-text-white">
              <article class="media">
                <div class="media-left">
                  <p class="image" id="Image">
                    <%= image_tag(request.post.user_pic) %>
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= request.post.username %></strong> 
                      <br>
                      <%= request.notes%>
                    </p>
                  </div>
                <nav class="level is-mobile">
                  <%= link_to "post", forum_path(request.post.forum, flash_notice: request.post.id), :class => "button has-background-danger is-outlined is-focused" %>
                </nav>
      </div>
      <div class="media-right">
                  <h2 >
                    <%= button_to "Approve", ban_path(request.id), :class => "button has-background-danger is-outlined is-focused is-fullwidth"%>
                    <%= button_to "Deny", report_path(request), method: :delete, :class => "button has-background-danger is-outlined is-focused is-fullwidth" %>
                </h2>
                </div>
    </article>
</div>
              
            <% end %>
        </h2>
      </div>
    </div>
  </section>
<% end %>
