<div class="topper">
    <figure class="image is-128x128 " id="characterImage">
        <%= image_tag(@character.image_url) %>
    </figure>
    <div class="box has-text-danger has-background-black-bis">
        <h1><%= @character.proper_name%></h1>
    </div>
    <%= link_to "Link to Forum", forum_path(@character.forum), :class => "button has-background-danger is-outlined is-focused" %>
</div>
<table class="table is-hoverable is-bordered is-striped">
    <tr>
        <th>Command</th>
        <th>Hit Level</th>
        <th>Damage</th>
        <th>Startup</th>
        <th>Block</th>
        <th>Hit</th>
        <th>CounterHit</th>
        <th>Notes</th>
    </tr>

    <% @character.moves.each do |move| %>
    <tr>
        <td><%= move.command %></td>
        <td><%= move.level %></td>
        <td><%= move.damage %></td>
        <td><%= move.startup %></td>
        <td><%= move.block %></td>
        <td><%= move.hit %></td>
        <td><%= move.ch %></td>
        <td><%= move.notes %></td>
    </tr>
    <% end %>
</table>