<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <%= image_tag(current_user.pic) %>
    </p>
  </figure>
  <div class="media-content">
  <%= form_for @post do |f| %>
    <div class="field">
      <p class="control">
        <textarea class="textarea has-text-white has-background-black" name="content"><%= @post.content %></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="buttons">
                <input type="submit" value="Submit" class="button is-danger is-outlined is-focused"><br>
                <%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, :class => "button has-background-danger is-outlined is-focused is-pulled-right" %>
            </div>
        </div>
      </div>
    </nav>
  <% end %>
  </div>
</article>

<% if @post.errors.any? %>
  <section class="hero is-danger">
    <div class="hero-body">
      <div class="container" id="NoBackground">
        <h1 class="title">
          Error:
        </h1>
        <h2 class="subtitle">
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </h2>
      </div>
    </div>
  </section>
<% end %>